@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

nav {
  width: 497.5px;
  display: inline-flex;
  background-color: #21222A;
  padding: .5rem;
}

.logo {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

}

h3 {
  font-size: 25px;
  color: #61DAFB;
}

h4 {
  font-size: 16px;
}

.logo-img {
  padding-right: .5rem;
}

.container {
  width: 450px;
  padding: 3rem 2rem;
}

.container>h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
}

.container>ul {
  padding: 10px 3rem;
}

/* ul {
  list-style: none;
} */

.container>ul>li {
  font-size: 16px;
  padding: 6px;
  width: 380px;

}

ul>li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}



/* ul li::before {
  content: "\2022";
  color: #61DAFB;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
} */